BattleStarship/Content/EbalStudiosFreeSample/
BattleStarship/Intermediate/Build/Win64/BattleStarshipEditor/
BattleStarship/.vs/BattleStarship/v16/Preview/
BattleStarship/Binaries/Win64/BattleStarshipEditor.target
BattleStarship/Binaries/Win64/UE4Editor-BattleStarship.pdb
